*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.heading{

    background-color: black;
    color: white;
    box-shadow: 3px 3px 4px rgb(75, 164, 227);
    text-align: center;
    height: 20vh;
    padding: 40px;
    width: 80%;
    margin: auto;
}